<tr class="row" id="comment_<%= comment.id %>">
  <%- if comment.user.present? %>
    <td class="span4"><%= comment.user[:email]  %></td>
  <%- else %>
    <td><%= comment.commenter %></td>
  <%- end %>
  <td class="span7"><%= comment.body %></td>
  <td class="span1">
   <%- if current_user.present? %>
    <%- if current_user.id == comment.user_id %>
      <%= link_to 'Destroy', [comment.issue, comment],
               method: :delete, remote: true,
               data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
    <%- else %>
      <%= link_to 'Destroy', [comment.issue, comment], remote: true, class: 'btn btn-mini btn-danger', disabled: true %>
    <%- end %>
  <%- end %>
  </td>
</tr>
