<tr class="row" id="comment_<%= comment.id %>">
  <%- if comment.user.present? %>
    <td class="span4"><%= comment.user[:email]  %></td>
  <%- else %>
    <td><%= comment.commenter  %></td>
  <%- end %>
  <td class="span7"><%= comment.body %></td>
  <%- if current_user.id == comment.user_id %>
    <td class="span1"><%= link_to 'Destroy', [comment.issue, comment],
             method: :delete, remote: true,
             data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
  <%- else %>
    <td class="span1"><%= link_to 'Destroy', [comment.issue, comment], remote: true, data: { confirm: 'You can not delete this'  }, class: 'btn btn-mini btn-danger' %></td>
  <%- end %>
</tr>
