<div class="form-horizontal">
  <%= simple_form_for(@issue) do |f| %>
    <div class="control-group">
      <%= f.input :title, style: "width: 266px;" %>
    </div>
    <div class="control-group">
      <%= f.input :description, style: "width: 266px;", rows: "10" %>
    </div>
    <div class="control-group">
      <%= f.input :no_followers, style: "width: 266px;", rows: "10" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn' %>
    </div>
  <% end %>
</div>
