<div class="page-header">
  <h1>Posts</h1>
</div>

<table class="table table-striped" id="issues">
  <thead>
    <tr>
      <th>Title <%=link_to "Sort", issues_path(sort: "title"), class: "btn btn-mini" %></th>
      <th>Likes</th>
      <th>Comments</th>
      <th>Description <%=link_to "Sort", issues_path(sort: "description"), class: "btn btn-mini" %> </th>
      <th>No followers <%=link_to "Sort", issues_path(sort: "no_followers"), class: "btn btn-mini" %> </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="issues">
    <% @issues.each do |issue| %>
    <tr id="issue_<%= issue.id %>">
      <li class="row">
        <td  class="span4"><%= issue.title %></td>
        <td style="text-align:center"><%= "#{issue.likes.count}" %></td>
        <td style="text-align:center"><%= link_to "#{issue.comments.count}", issue %></td>
        <td class="span4"><%= issue.description %></td>
        <td style="text-align:center"><%= issue.no_followers %></td>
        <td>
          <%= link_to 'Show', issue, class: 'btn btn-mini' %>
          <%= link_to 'Edit', edit_issue_path(issue), class: 'btn btn-mini' %>
          <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', remote: true %>
        </td>
      </li>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= render "search" %>
