<div class="page-header">
  <h1>Issues</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title <%=link_to "Sort", issues_path(sort: "title"), class: "btn btn-mini" %></th>
      <th>Description <%=link_to "Sort", issues_path(sort: "description"), class: "btn btn-mini" %> </th>
      <th>No followers <%=link_to "Sort", issues_path(sort: "no_followers"), class: "btn btn-mini" %> </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
    <tr>
      <li id="issue_<%= issue.id %>" class="row">
        <td  class="span5"><%= issue.title %></td>
        <td  class="span5"><%= issue.description %></td>
        <td><%= issue.no_followers %></td>
        <td>
          <%= link_to 'Show', issue, class: 'btn btn-mini' %>
          <%= link_to 'Edit', edit_issue_path(issue), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </li>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= render "search" %>
