<div class="page-header">
  <h1>Posts</h1>
</div>

<table class="table table-striped" id="issues">
  <thead>
    <tr>
      <th>Title</th>
      <th>No followers</th>
      <th>Comments</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="issues">
    <% @issues.each do |issue| %>
    <tr id="issue_<%= issue.id %>">
      <li class="row">
        <td  class="span5"><%= issue.title %></td>
        <td style="text-align:center"><%= "#{issue.likes.count}" %></td>
        <td style="text-align:center"><%= "#{issue.comments.count}" %></td>
        <td class="span5"><%= issue.description %></td>
        <td>
          <%= link_to 'Show', issue, class: 'btn btn-mini' %>
          <%- if current_user.present? %>
            <%- if current_user.id == issue.user_id %>
              <%= link_to 'Edit', edit_issue_path(issue), class: 'btn btn-mini' %>
              <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', remote: true %>
            <%- else %>
              <a class='btn btn-mini' disabled="true">Edit</a>
              <a class='btn btn-mini btn-danger' disabled="true">Destroy</a>
            <% end %>
          <%- else %>
            <a class='btn btn-mini' disabled="true">Edit</a>
            <a class='btn btn-mini btn-danger' disabled="true">Destroy</a>
          <% end %>
        </td>
      </li>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<%= render "search" %>
