<div class="page-header">
  <h1>Posts</h1>
</div>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="issues" style="margin-bottom: 8px">
  <thead>
    <tr>
      <th>Title</th>
      <th>No followers</th>
      <th>Comments</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="issues">
    <% @issues.each do |issue| %>
    <tr id="issue_<%= issue.id %>">
      <li class="row">
        <td  class=""><%= issue.title %></td>
        <td style="text-align:center"><%= "#{issue.likes.count}" %></td>
        <td style="text-align:center"><%= "#{issue.comments.count}" %></td>
        <td class=""><%= issue.description %></td>
        <td class=""><%= issue.created_at.to_date.strftime("%d %B %Y") %></td>
        <td class=""><%= issue.updated_at.to_date.strftime("%d %B %Y") %></td>
        <td>
          <%= link_to 'Show', issue, class: 'btn btn-mini' %>
          <%- if current_user.present? %>
            <%- if current_user.id == issue.user_id %>
              <%= link_to 'Edit', edit_issue_path(issue), class: 'btn btn-mini' %>
              <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', remote: true %>
            <%- else %>
              <a class='btn btn-mini' disabled="true">Edit</a>
              <a class='btn btn-mini btn-danger' disabled="true">Destroy</a>
            <% end %>
          <%- else %>
            <a class='btn btn-mini' disabled="true">Edit</a>
            <a class='btn btn-mini btn-danger' disabled="true">Destroy</a>
          <% end %>
        </td>
      </li>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<%#= render "search" %>

<h3>Solar search</h3>
<%= form_tag issues_path, :method => :get do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" ,:name => nil %>
  </p>
<% end %>

<% unless @search.blank? %>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="issues" style="margin-bottom: 8px">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="issues">
      <% for issue in @search.results %>
        <tr>
          <td><%= issue.title %></td>
          <td><%= issue.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>