<div class="row">
  <div class="span2">
    <%- if current_user.present? %>
      <%- if current_user.id == @issue.user_id %>
        <%= link_to 'Edit', edit_issue_path(@issue), class: 'btn' %>
      <%- else %>
        <a class='btn' disabled="true">Edit</a>
      <% end %>
    <%- else %>
      <a class='btn' disabled="true">Edit</a>
    <% end %> |
    <%= link_to 'Back', issues_path, class: 'btn' %>
  </div>

  <div class="span10">
    <div class="page-header">
      <h1>Post</h1>
    </div>

    <p>
      <b>Title:</b>
      <%= @issue.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @issue.description %>
    </p>
<!--
    <p>
      <b>No followers:</b>
      <%= @issue.likes.count %>
    </p> -->

    <p>
      <b>No Comments:</b>
      <%= @issue.comments.count %>
    </p>

    <%- if @issue.user.present? %>
      <p>
        <b>Author:</b>
          <%= @issue.user.email %>
      </p>
    <%- end %>

    <p>
      <b>Created At:</b>
      <%= @issue.created_at.to_date.strftime("%d %B %Y") %>
    </p>

    <p>
      <b>Updated At:</b>
      <%= @issue.updated_at.to_date.strftime("%d %B %Y") %>
    </p>

    <%- if current_user.present? %>
      <div id="like">
        <%= render 'likes/like_button', :issue => @issue %>
      </div>

    <div class="followrs">
      <ul>
        <%- @users.each do |u| %>
          <li><%= u.email %></li>
      <%- end %>
    </ul>
    </div>

    <%- end %>
    <div class="page-header">
      <h2>Comments</h2>
    </div>
      <table class="table table-striped">
        <thead>
          <tr class="row">
            <th class="span5">Commenter</th>
            <th class="span6">Comment</th>
          </tr>
        </thead>
        <tbody id="comments">
          <%= render @issue.comments %>
        </tbody>
      </table>
      <%- if current_user.present? %>
        <h2>Add a comment:</h2>
        <%= render "comments/form" %>
      <%- else %>
        <h4><%= link_to "Login...,", new_user_session_path %> to follow and comment for this post.</h4>
      <%- end %>
  </div>
</div>
