<div class="row">
  <!-- <p id="notice"><%= notice %></p> -->

  <div class="span2">
    <%= link_to 'Edit', edit_issue_path(@issue), class: 'btn' %> |
    <%= link_to 'Back', issues_path, class: 'btn' %>
  </div>

  <div class="span10">
    <div class="page-header">
      <h1>Post</h1>
    </div>

    <p>
      <b>Title:</b>
      <%= @issue.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @issue.description %>
    </p>

    <p>
      <b>No followers:</b>
      <%= @issue.no_followers %>
    </p>

    <% if current_user.present? %>
      <div id="like">
        <%= render 'likes/like_button', :issue => @issue %>
      </div>
    <% end %>

    <h2>Comments</h2>
    <div>
      <table class="table table-striped">
        <thead>
          <tr class="row">
            <th class="span5">Commenter</th>
            <th class="span6">Comment</th>
          </tr>
        </thead>
        <tbody id="comments">
          <%= render @issue.comments %>
        </tbody>
      </table>
    </div>
    <%- if current_user.present? %>
      <h2>Add a comment:</h2>
      <%= render "comments/form" %>
    <%- end %>
  </div>
</div>
