<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="span2">
    <%= link_to 'Edit', edit_issue_path(@issue), class: 'btn' %> |
    <%= link_to 'Back', issues_path, class: 'btn' %>
  </div>

  <div class="span10">
    <div class="page-header">
      <h1>Issue</h1>
    </div>

    <p>
      <b>Title:</b>
      <%= @issue.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @issue.description %>
    </p>

    <p>
      <b>No followers:</b>
      <%= @issue.no_followers %>
    </p>

    <h2>Comments</h2>
    <%= render @issue.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
  </div>
</div>


