<% if like = current_user.likes.find_by_issue_id(@issue.id) %>
  <%= form_for like, :html => { :method => :delete }, :remote => true do |f| %>
    <%= f.submit "Unfollow", class: 'btn' %>
    <% if @issue.likes.count == 1 %>
      <span class="alert info">You are now following this post.</span>
    <% else %>
      <span class="alert info">You and other <%= @issue.likes.count - 1 %> people(s) are following this post.</span>
    <% end %>
  <% end %>
<% else %>
  <%= form_for current_user.likes.build(:issue_id => @issue.id), :remote => true do |f| %>
    <%= f.hidden_field :issue_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit "Follow", class: 'btn' %>
    <% if @issue.likes.count >=1%>
      <span class="alert info">Other <%= @issue.likes.count %> people(s) are following this post.</span>
    <% end %>
  <% end %>
<% end %>
